@keyframes fadeInDownBigAndOut {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

ul li {
    animation: fadeInDownBigAndOut 5s;
}

ul li:nth-child(2) {
    animation-delay: 1s;
}

ul li:nth-child(3) {
    animation-delay: 2s;
}