footer {
    color: $violeta;
    font-size: 1.3rem;
    font-family: 'Glass Antiqua', cursive;
    box-shadow: 0 0 5px $violeta;
    width: 100%;
    bottom: 0;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}