.head {
    margin: 0.1rem;
    background-color: $turquesa;
    font-size: 1.5rem;
    border-bottom: solid 2px $violeta;
    border-left: solid 2px $violeta;
    border-right: solid 2px $violeta;

    .navbar-nav {
        list-style: none;
        text-align: end;

        .nav-item {
            display: inline-block;
            margin: 0.2rem 0.2rem;
            padding: 0.2rem;

            .nav-link {
                color: $violeta;
                text-decoration: none;
                border: $violeta solid 0.1rem;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: $azul;
                    transition: 1s;
                }
            }
        }
    }
}