header {
  text-align: center;
  justify-content: center;
  background-color: transparent;
  color: $violeta;
  margin: 1%;

  h1 {
    font-size: 2.5rem;
    font-family: 'Kalnia', serif;
    font-weight: 600;
  }
}