.titulo {
    margin-top: 2%;
    color: #153B50;
    text-align: right;
    font-size: 5rem;
}

main {
    color: #153B50;
    height: 100vh;
    width: 80%;
    text-align: right;
    margin-right: 0;
    margin-top: 3%;
    font-size: 1rem;
}

.info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
}


span {
    font-size: 2rem;
    color: #153B50;
    text-align: right;
    font-style: oblique;
    font-family: 'Playfair Display', serif;
}

.center-wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100h;
}

.typing-container {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-right-color: transparent;
    }

    50% {
        border-right-color: black;
    }
}