$azul: #153B50;
$turquesa: #8BE8CB;
$violeta: #ad6597;
$lila: #c69adf;
$turquesaFuerte:#104F55;
$rosa:#FF1053;
$negro: black;
$fondoVioleta: #935c85;
$fondoTurquesa: #36656a;
$verde: #00c06694;
$amarillo:  #eee8aa;